In [1]:
import pandas as pd

In [3]:
# df = pd.read_csv('data_set.csv')

df = pd.read_csv('data_set.csv', encoding='latin-1')

In [4]:
df

,Class Name,Varieties,Facts,Uses,Petals,Sepals,Flowers,Leaves,Height,Habitat
0,Iris setosa,Bristly Iris,"* The name ""setosa"" comes from the Latin word ...",#NAME?,3,3,"Large, showy flowers.","Narrow, sword-like leaves.",2-3 feet tall.,Iris setosa is tolerant of many kinds of habit...
1,Iris versicolor,Blue Iris,NaN,#NAME?,3,3,Varies in color from blue to purple.,"Broad, flat leaves.",2-4 feet tall.,"Meadows, swamps, and woodlands."
2,Iris virginica,Southern Blue Iris,* The Virginia blueflag is the state wildflowe...,#NAME?,3,3,Deep blue flowers.,"Wide, flat leaves.",2-4 feet tall.,Moist woods and swamps.