In [7]:
import pandas as pd
import numpy as np

In [8]:
# df = pd.read_csv('data_set.csv')

df = pd.read_csv('data_set.csv', encoding='latin-1')
df = df.replace('',np.nan)
df = df.dropna(axis="columns",how="any")

In [9]:
df

,Class Name,Varieties,Uses,Petals,Sepals,Flowers,Leaves,Height,Habitat
0,Iris setosa,Bristly Iris,#NAME?,3,3,"Large, showy flowers.","Narrow, sword-like leaves.",2-3 feet tall.,Iris setosa is tolerant of many kinds of habit...
1,Iris versicolor,Blue Iris,#NAME?,3,3,Varies in color from blue to purple.,"Broad, flat leaves.",2-4 feet tall.,"Meadows, swamps, and woodlands."
2,Iris virginica,Southern Blue Iris,#NAME?,3,3,Deep blue flowers.,"Wide, flat leaves.",2-4 feet tall.,Moist woods and swamps.

In [10]:
df.loc[0,:]

Class Name                                          Iris setosa
Varieties                                          Bristly Iris
Uses                                                     #NAME?
Petals                                                        3
Sepals                                                        3
Flowers                                   Large, showy flowers.
Leaves                               Narrow, sword-like leaves.
Height                                           2-3 feet tall.
Habitat       Iris setosa is tolerant of many kinds of habit...
Name: 0, dtype: object

In [11]:
Class_Name,Varieties,Facts,Uses,Petals,Sepals,Flowers,Leaves,Height,Habitat = df.loc[predicted_class, :]

NameError: name 'predicted_class' is not defined